@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --fonte-family: 'Oswald', sans-serif;
    --bg-color: #1B1A17;
    --primary-color: #F0A500;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--fonte-family);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 7rem;
}

h3 {
    font-size: 3rem;
    margin-top: 20px;
}

.mensagem {
    font-size: 2rem;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    padding: 10px;
    font-size: 4rem;
    margin: 20px;
    text-align: center;
}

.btn-play {
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    font-family: var(--fonte-family);
    color: var(--primary-color);
    margin-top: 40px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-play:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    cursor: pointer;
}

